<div class="row">
  <div class="col-md-12 col-xl-12">
    <div class="card widget-card-1">
      <div class="card-block-small" style='height: 90px;'>
        <i class="icofont icofont-briefcase bg-c-yellow card1-icon"></i>
        <span class="text-c-blue f-w-600">Liste des Masters</span>
        <div>
        <span class="f-left m-t-10 text-muted">
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div  class="col-md-12 col-xl-12">
    <app-card [title]="'Liste des Applications'" [cardClass]="'project-task'" [blockClass]="'p-b-10'">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="form-group">
                    <label for="exampleInputEmail1">Veuillez Selectionner un Master : </label>
                    <select [(ngModel)]="selectedmaster"  class="form-control"  >
                        <option *ngFor="let item of lstmasters"  [value]='item.id_master'>{{item.nom}} </option>
                    </select>
                    
                  </div>
              </div>
              <div class="col-sm">
                
              </div>
              <div class="col-sm">
                
              </div>
            </div>
          </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Date Application</th>
            <th>Master</th> 
            <th>Etudiant</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let item of lstDemandesmasters  | paginate: { id: 'app',
          itemsPerPage: 4,
          currentPage: p
          }" >
                <ng-container *ngIf="selectedmaster==item.id_master" >
                 <tr>
                  <td>{{item.id_demande}}</td>
                  <td>{{item.date_inscrit | date}}</td>
                  <td>{{item.nomMaster}}</td>
                  <td>{{item.prenom+' '+item.nom}}</td>
                  <td><button class="btn btn-primary"><i class="icofont icofont-eye"></i></button></td>
                 </tr>
                </ng-container>
                
          </ng-container>
          </tbody>
        </table>
        <pagination-controls  id="app"
           
            style="margin-left: auto;
            margin-right: auto;
            display: table;"
            responsive="true"
            previousLabel="Précédent"
            nextLabel="Suivant"
           >
</pagination-controls>
       
      </div>
    </app-card>
  </div>
</div>